.asui-card-flip-box {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 800px;
  .asui-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    .asui-card-flip-figure {
      margin: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      &.front {
        background: palegoldenrod;
      }
      &.back {
        transform: rotateY(-180deg);
        background: paleturquoise;
      }
    }
  }
}

.asui-card-flip-center {
  .asui-card {
    transform-origin: center center;
  }
  &.asui-card-flipped {
    .asui-card {
      transform: rotateY( 180deg);
    }
  }
}

.asui-card-flip-right {
  .asui-card {
    transform-origin: right center;
  }
  &.asui-card-flipped {
    .asui-card {
      transform: translateX(-100%) rotateY(-180deg);
    }
  }
}

.asui-card-flip-left {
  .asui-card {
    transform-origin: left center;
  }
  &.asui-card-flipped {
    .asui-card {
      transform: translateX(100%) rotateY(180deg);
    }
  }
}